// Color Variables
$main-color: #42b983; // Normal Tickets Color
$doctors-color: #42b1f5;
$finish-color: #f62804;
$patients-color: #be02f9;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear{
  clear: both;
}

.vanish{
  display: none;
}